.sign-up-form{
  width: 100%;
  max-width: 300px;
  padding: 15px;
  margin: auto;
  margin-top: 30px;
  height: 600px;
  color:darkgreen;
}

.custom-img {
  height: 100vh;
  object-fit: cover;
}
.hrline{
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}
.text-center
{
  text-align: center;
  color: #006400;
}
.first-col{
  margin-left: 20px;
}
.carousel-text span{
  background-color:white;
  color: darkgreen; 
  display: inline;
  padding: 0.5rem;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
  font-size: 40px;
}

.navbar{
  background-color: white;
  height: 100px;
  margin: 0;
}
.already{
  color: darkgreen;
}
input {
  width: 270px;
  height: 30px;
 }
.userdp{
  width:220px;
  height:170px;
  margin-left: 10%;
  margin-top: 5%;
  margin-bottom: 5%;
}
.footerfix{
 height: 500px;
}
